[submodule "common"]
	path = common
	url = https://git.chainmaker.org.cn/chainmaker/chainmaker-common.git
[submodule "tools/sdk"]
	path = tools/sdk
	url = https://git.chainmaker.org.cn/chainmaker/chainmaker-sdk-go.git
[submodule "pb/proto"]
	path = pb/proto
	url = https://git.chainmaker.org.cn/chainmaker/chainmaker-pb.git
[submodule "module/consensus/raft/raftwal"]
	path = module/consensus/raft/raftwal
	url = https://git.chainmaker.org.cn/chainmaker/raftwal.git