[submodule "common"]
	path = common
	url = git@git.chainmaker.org.cn:9998/chainmaker/chainmaker-common.git
[submodule "tools/sdk"]
	path = tools/sdk
	url = git@git.chainmaker.org.cn:9998/chainmaker/chainmaker-sdk-go.git
[submodule "pb/proto"]
	path = pb/proto
	url = git@git.chainmaker.org.cn:9998/chainmaker/chainmaker-pb.git
